body {
    align-items: center;
    align-self: center;
    text-align: center;
}

.lesson {
    background-color: lemonchiffon;
}

.title {
    color: darkblue;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue;
}

#portfolio {
    background-color: darkorange;
}